/* for card shadow */
div.card {
    width: 250px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
/* login text color */
.login{
    color: #217ba0;
}